body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9CDBD;
}

header {
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    margin: 0px;
}



.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-botao {
    display: block;
    align-items: center;
    cursor: pointer;
} 

.menu-botao span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 4px;
    transition: 0.3s;
}

.menu-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #DBC9BB;
    top: 0px;
    left: -100%;
    width: 30%;
    height: 100%;
    transition: left 0.4s ease;
    z-index: 1000;
}

  .menu-links {
    width: 60%;
  }


  .menu-links {
    width: 80%;
  }


.menu-links a:not(.capa) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 25px;
    border: 2px solid black;
    transition: transform 0.2s, backgroud-color 0.2s;
    text-align: center;
    width: 200px;
    display: block;
    border-radius: 5px
}  

.capa {
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        top: 20%;
        left: 30%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translate(-50%, -50%);
}

.close-btn {
    display: flex;
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: transparent;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.menu-ativo {
    left: 0;
}

.menu-links a:not(.capa):hover {
    transform: translateY(-4px);
    background-color: #E5E3D6;
}


.home {
    flex: 1;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color:#DBC9BB;
    text-align: center;

}


.Main-menu {
    color: black;
}

/* Elemento Footer */


.footer-content {
    background-color: #A5A5A5;
    color: #fff;
    text-align: center;
    padding: 25px 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.footer-content p {
    font-size: 16px;
}

.footer-content a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-bottom{
    border-top: 1px solid #444;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 12px;
    color: blueviolet;
    text-align: center;
}
